body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

box {
  display: flex;
  flex-direction: column;
	background: #fff;
	border: 1px solid #aaa;
	padding: 10px;
	margin: 5;
}

searchBar {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

title {
  display: flex;
  padding: 5px;
  font-size: 25px;
  font-weight: bolder;
  line-height: 1.7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}